.git
.github
.expo
.vscode
.idea
node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
.env
**/.env
.env.local
**/.env.local
npm-debug.log
*.log
*.pem
*.key
*.p8
*.p12
*.jks
web-build
apps/mobile-web/android
apps/mobile-web/ios
